<head>
  <link rel="stylesheet" href="home.css" type="text/css" />

  <script src="https://kit.fontawesome.com/f64de7b412.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="search-bar">
    <div class="content">
      <form method="GET" action="/" class='search'>
        <input type="text" class="search__input" aria-label="search" placeholder="enter your search"
          name="search_query" />
        <input type="text" name="page" value=1 style="display: none;" />
        <button class="search__btn" aria-label="submit search">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </div>

  <main role="main">
    <section class="videos" id="featured-videos">
      <div class="video-grid front-page" id="front-page-videos">
        <div style="margin-left: 85%;">
          <% if(videos) { %>
            Sort By -
            <% if(sort_by==="date"){ %>
              <select name="cars" id="cars" style="height: 30px; width: 60px;" onchange="location = this.value;">
                <option value="/?search_query=<%= search_query %>&page=<%= page %>&sort_by=date" selected>Date</option>
                <option value="/?search_query=<%= search_query %>&page=<%= page %>&sort_by=title">Title</option>
              </select>
            <% }else{ %> 
              <select name="cars" id="cars" style="height: 30px; width: 60px;" onchange="location = this.value;">
                <option value="/?search_query=<%= search_query %>&page=<%= page %>&sort_by=date" >Date</option>
                <option value="/?search_query=<%= search_query %>&page=<%= page %>&sort_by=title" selected>Title</option>
              </select>
            <% } %>  
            <% } %>
        </div>
        <ul class="video-list featured">
          <% if(videos) { videos.forEach(function(video){ %>
            <li class="video featured">
              <a data-fancybox
                href="https://www.youtube.com/embed/qDK86kzgUPg?autoplay=1&controls=0&showinfo=0&color=white&rel=0"
                class="featured-video">
                <figure style="background-image: url(<%= video.thumbnail %>);">
                  <img src="<%= video.thumbnail %>" />
                  <figcaption>
                    <%= video.title %>
                      <br><br>
                      Published At = <%= new Date(video.publishedAt) %>
                  </figcaption>
                </figure>
              </a>
            </li>
            <% })} %>

        </ul>
      </div </section>
  </main>
  <% if(videos) { %>
    <div class="wrapper">
      <ul class="kai-pagination">
        <li class="pagination-item is-prev">
          <a href="/?search_query=<%= search_query %>&page=<%= Math.max(1,page-1) %>">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-arrow-left">
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
          </a>
        </li>
        <li class="pagination-item is-next">
          <a href="/?search_query=<%= search_query %>&page=<%= page+1 %>">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-arrow-right">
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <% } %>
</body>
<script type="text/javascript" src="home.js"></script>